<html data-namespace-typo3-fluid="true"
      xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers">
    <header id="head">
        <div class="container-fluid">
            <div class="row align-items-end">
                <div class="col-12 col-xl-3 position-relative">
                    <div class="row">
                        <div class="col-9 col-xl-auto">
                            <f:if condition="{logoPath}">
                                <div class="pt-5 ps-5 mt-3 pb-3 pb-xl-0 position-relative logo" 
                                    itemscope 
                                    itemtype="http://schema.org/Organization">
                                   
                                    <f:link.typolink 
                                            additionalAttributes="{'itemprop':'url'}" 
                                            parameter="{rootPageUid}">
                                            <picture>
                                                <source media="(max-width: 767px)"
                                                        srcset="{f:uri.image(src:'{logoPath}',treatIdAsReference:'0', width: '175m')}">
                                                <source media="(min-width: 768px)"
                                                        srcset="{f:uri.image(src:'{logoPath}',treatIdAsReference:'0', width: '342m')}">
                                        
                                                <f:image alt="Hans-Hermann Hürth - Denkmalpflege, Ausbau und Erneuerung" 
                                                        class="logo-img img img-fluid"
                                                        src="{logoPath}" 
                                                        width="342m" />
                                            </picture>
                                            <p class="d-none d-xl-block">Denkmalpflege, Ausbau und Erneuerung</p>
                                    </f:link.typolink>
                                </div>
                            
                            </f:if>
                        </div>
                        <div class="col-3 d-xl-none d-flex align-items-center justify-content-end">
                            <div class="navbar-header navbar-expand-xl navbar-dark">
                                <button class="navbar-toggler bg-darkgrey" 
                                    type="button" 
                                    data-bs-toggle="collapse" 
                                    data-bs-target="#navwrap" aria-controls="navwrap"
                                    aria-expanded="false" 
                                    aria-label="Toggle navigation">
                                        <span class="navbar-toggler-icon p-4"></span>
                                    </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-xl-9 mb-xl-3 pe-xl-5 d-flex justify-content-center">
                    <nav class="navbar navbar-expand-xl w-100 p-0" id="nav" itemscope
                            itemtype="http://schema.org/SiteNavigationElement">
                        <div class="collapse navbar-collapse" id="navwrap">
                            <ul class="nav navbar-nav row w-100 p-0">
                                <f:for as="nav" each="{mainNavigation}" iteration="mainnaviterator">
                                    <li class="nav-item me-3 dropdown l1 col text-center {f:if(condition: mainnaviterator.isFirst, then: 'pl-lg-0')} {f:if(condition: nav.children,then:'dropdown hassub')} {f:if(condition: nav.current,then:'current')}"
                                        itemprop="name">
                                        <f:if condition="{nav.children}">
                                            <f:then>
                                                <a href="{nav.link}"
                                                    target="{f:if(condition:nav.target, then:'{nav.target}',else:'_self')}"
                                                    title="{nav.title}">
                                                    {nav.title}
                                                </a>
                                                <a role="button"
                                                    class="dropdown-toggle dropdown-toggle-split" 
                                                    data-bs-toggle="dropdown" 
                                                    data-bs-auto-close="outside"
                                                    aria-expanded="false">
                                                    <span class="visually-hidden">Toggle Dropdown</span>
                                                </a>
                                        
                                                <ul class="dropdown-menu lvl2 mt-0 w-100" role="menu">
                                                    <f:for as="secondlevel" each="{nav.children}">
                                                        <li class="nav-item text-center text-xl-start {f:if(condition: secondlevel.children,then:'dropdown hassub')} {f:if(condition: secondlevel.current,then:'current')}">
                                                            <f:if condition="{secondlevel.data.doktype} == 199">
                                                                <f:then>
                                                                    <div class="dropdown-divider"></div>
                                                                </f:then>
                                                                <f:else>
                                                                    <f:if condition="{secondlevel.children}">
                                                                        <f:then>
                                                                            <div class="dropdown dropend">
                                                                                <a href="{secondlevel.link}"
                                                                                    class="ps-3"
                                                                                    target="{f:if(condition:nav.target, then:'{secondlevel.target}',else:'_self')}"
                                                                                    title="{secondlevel.title}">
                                                                                    {secondlevel.title}
                                                                                </a>
                                                                                <a role="button"
                                                                                    class="dropdown-toggle dropdown-toggle-split float-xl-end pe-3" 
                                                                                    data-bs-toggle="dropdown" 
                                                                                    data-bs-auto-close="outside"
                                                                                    aria-expanded="false">
                                                                                    <span class="visually-hidden">Toggle Dropdown</span>
                                                                                </a>
                                                                                <div class="dropdown-menu text-center text-xl-start">
                                                                                    <f:for as="thirdlevel"
                                                                                            each="{secondlevel.children}">
                                                                                        <a href="{thirdlevel.link}"
                                                                                            class="dropdown-item"
                                                                                            target="{f:if(condition:thirdlevel.target, then:'{thirdlevel.target}',else:'_self')}"
                                                                                            title="{thirdlevel.title}">
                                                                                                {thirdlevel.title}
                                                                                        </a>
                                                                                    </f:for>
                                                                                </div>
                                                                            </div>
                                                                        </f:then>
                                                                        <f:else>
                                                                            <a href="{secondlevel.link}"
                                                                                target="{f:if(condition:secondlevel.target, then:'{secondlevel.target}',else:'_self')}"
                                                                                class="dropdown-item"
                                                                                title="{secondlevel.title}">
                                                                                {secondlevel.title}
                                                                            </a>
                                                                        </f:else>
                                                                    </f:if>
                                                                </f:else>
                                                            </f:if>
                                                        </li>
                                                    </f:for>
                                                </ul>
                                            </f:then>
                                            <f:else>
                                                <a href="{nav.link}"
                                                    target="{f:if(condition:nav.target, then:'{nav.target}',else:'_self')}"
                                                    title="{nav.title}">
                                                    {nav.title}
                                                </a>
                                            </f:else>
                                        </f:if>
                                    </li>
                                </f:for>
                            </ul>
                        </div>
                    </nav>
                </div>

            </div>
        </div>
        <f:cObject data="{
                    colPos:'1'
                    }"
                   typoscriptObjectPath="lib.dynamicContent" />
    </header>
</html>